html *:not(code) {
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: black;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

body > .container {
    padding: 100px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.btn {
    cursor: pointer;
}

.error, .help-block > strong, .help-block {
    color: #C8102E;
}



input:not(.btn), textarea {
    background-color: black !important;
    color: antiquewhite !important;
    border: 1px solid antiquewhite !important;
}

input:not(.btn):focus, textarea:focus, select:focus {
    transition-property: border-color;
    transition-duration: 0.4s;
    border-color: #5cb85c !important;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-menu > a {
    color: antiquewhite;
}

.dropdown-menu > a:hover {
    background-color: black;
    color: antiquewhite;
    opacity: 0.5;
}

.custom-file-control {
    background-color: black;
    border: 1px solid antiquewhite;
}

.custom-file-control:before {
    background-color: black;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.custom-file:hover > span:before {
    transition-property: background-color;
    transition-duration: 0.3s;
    background-color: #0275d8;
}

pre {
    margin-top: 10px;
    padding: 10px;
    color: #bd4147 !important;
    background-color: #111111 !important;
    border: 1px solid antiquewhite;
}

@media(max-width: 1090px) and (min-width: 992px)  {
    #headerSearchBox {
        width: 163px;
    }
}

input[type='radio'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 5px 0px gray inset;
}

input[type='radio']:hover {

}

input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;
    border-radius:50%;
}
input[type='radio']:checked:before {
    background:antiquewhite;
}
input[type='radio'][value='TRUE']:checked:before {
    background:#5cb85c;
}
input[type='radio'][value='FALSE']:checked:before {
    background:#B61E2E;
}
input[type='radio'][value='FALSE']:focus {
    border-color: #B61E2E !important;
}
select {
    border: 1px solid antiquewhite !important;
    background-color: black !important;
    color: antiquewhite !important;
}
